@model StoreFront.Models.CreateReviewModel

@{
    ViewData["Title"] = "Review " + Model.Product.Name;
    Layout = "_Layout";
}

@{Model.Review.ProductId = Model.Product.Id;}
@Html.HiddenFor(model => model.Product.Id)

<div class="container">
    <h2>Review @Model.Product.Name</h2>
    @using (Html.BeginForm())
    {

    <div class="form-group">
        Title
        @Html.TextBoxFor(model => model.Review.Title)
    </div>

        <div class="form-group">
            Body
            @Html.TextAreaFor(model => model.Review.Text)
        </div>

        <div class="form-group">
            Rating
            @Html.EditorFor(model => model.Review.Rating)
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    }
    <hr />
    <button class="btn btn-warning" onclick="location.href='@Url.Action("details", "Products", new {id = Model.Product.Id})'">Cancel</button>
</div>
