@model StoreFront.Models.Product
@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>@Model.Name</h2>
            <h3>Price: @Model.DisplayPrice("$")</h3>
            @{
                double rating = Model.GetAverageRating();
                string ratingString = (rating >= 0) ? rating.ToString() : "No Reviews";
                <h3>Average Rating: @ratingString</h3>
            }
        </div>
        <div class="panel-body">
            <p>@Model.Description</p>
            <hr />
            <button class="btn btn-success" onclick="location.href='@Url.Action("CreateReview", new { id = Model.Id })'">Submit Review</button>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'">Edit</button>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = Model.Id })'">Delete</button>
        </div>
    </div>
    @foreach (var review in Model.Reviews){ 
        <div class="review">
            <h3>@review.Rating / 10 - @review.Title</h3>
            <p>@review.Text</p>
        </div>
    }
    <hr />
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Index")'">Back</button>
</div>
